Repository Atlas-OS/Atlas, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, translations, branding, actions, playbook, appx, components, config, services, desktop folder

fix
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/debloat/disable-scheduled-tasks.yml
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook

new component removal!!! yay!!!!!!!!
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Executables/AtlasDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasDesktop/8. Troubleshooting/Telemetry Components.cmd
  src/playbook/Executables/AtlasModules/PackagesEnvironment/centralScript.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/onlineSxs.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/hta/background.jpg
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/hta/index.html
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/hta/style.css
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/packages.cmd
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/startup.vbs
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

fix(STARTMENU 23H2): revert back to old Layout.xml
  src/playbook/Executables/Layout.xml
  src/playbook/Executables/STARTMENU.cmd
Labels: playbook

fix(winrepackages): normal recovery
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/startup.vbs
Labels: playbook

fix(appx): don't wild card all MicrosoftCorpII
  src/playbook/Configuration/atlas/appx.yml
Labels: playbook

revert: :bug: disable recent apps
  src/playbook/Configuration/tweaks/qol/config-start-menu.yml
Labels: playbook

fix(start): disable most used apps
  src/playbook/Configuration/tweaks/qol/config-start-menu.yml
Labels: playbook

fix(send to): remove RunAsTI - explorer restart
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Send To Context Menu/Debloat Send To Context Menu.cmd
Labels: playbook

fix: allow users to use new context menu
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/tweaks/qol/shell/restore-old-context-menu.yml
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Context Menu/New Context Menu.reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Context Menu/Old Context Menu (default).reg
Labels: playbook

fix(cleanup): run as admin instead of TI
  src/playbook/Configuration/tweaks/scripts/script-cleanup.yml
Labels: playbook

feat: arm support
  src/playbook/Executables/AtlasModules/PackagesEnvironment/centralScript.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/recovery/atlas/startup.vbs
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

fix: remove 11 22H2 support
  src/playbook/playbook.conf
Labels: playbook

temporarily disable component removal due to uncertain interaction with bitlocker
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/qol/explorer/disable-folders-this-pc.yml
  src/playbook/Executables/AtlasDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasDesktop/8. Troubleshooting/Telemetry Components.cmd
Labels: playbook

fix: don't strip WER
  src/playbook/Configuration/tweaks/debloat/disable-scheduled-tasks.yml
  src/playbook/Configuration/tweaks/misc/config-oem-information.yml
  src/playbook/playbook.conf
  src/sxsc/Atlas-NoTelemetry.yaml
Labels: playbook

feat: auto-update CAB packages (05057e7f)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd643.0.0.0.cab
Labels: playbook

feat(drivers): apple & bluetooth shortcuts
  src/playbook/Executables/AtlasDesktop/2. Drivers/Apple devices.url
  src/playbook/Executables/AtlasDesktop/2. Drivers/Bluetooth.url
Labels: playbook

fix(SOFTWARE.ps1): push & pop location
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

fix: general fixes
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/qol/appearance/atlas-theme.yml
  src/playbook/Configuration/tweaks/qol/disable-system-restore.yml
  src/playbook/Executables/AtlasDesktop/3. Configuration/System Restore/Disable System Restore.reg
  src/playbook/Executables/AtlasDesktop/3. Configuration/System Restore/Enable System Restore (default).reg
Labels: playbook

fix: remove Game Bar by default
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Executables/AtlasDesktop/3. Configuration/FSO and XBOX/Disable FSO & Game Bar Support.reg
  src/playbook/Executables/AtlasDesktop/3. Configuration/FSO and XBOX/Enable FSO & Disable Game Bar Support (default).reg
  src/playbook/Executables/AtlasDesktop/3. Configuration/FSO and XBOX/Enable FSO & Game Bar Support.reg
  src/playbook/Executables/AtlasDesktop/3. Configuration/FSO and XBOX/Game Bar Download.url
Labels: playbook

fix: change failure link
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

fix(winre): docs links
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

feat: auto-update CAB packages (30a6c309)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd643.0.0.0.cab
Labels: playbook

fix: lockscreen
  src/playbook/Configuration/tweaks/qol/appearance/atlas-theme.yml
  src/playbook/Executables/LOCKSCREEN.ps1
Labels: playbook

fix: update version
  src/playbook/playbook.conf
Labels: playbook

Update SOFTWARE.ps1 to use NewGuid
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

Fix: ARM64 Detection
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

Fix: playbook.conf "Learn more"
  src/playbook/playbook.conf
Labels: playbook

Update README_ru_RU.md
  translations/README_ru_RU.md
Labels: translations

Update README_ua_UA.md
  translations/README_ua_UA.md
Labels: translations

fix(winre): run correct script
  src/playbook/Executables/AtlasModules/PackagesEnvironment/centralScript.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

fix: require activation
  src/playbook/playbook.conf
Labels: playbook

fix: add winre fix indicator
  src/playbook/Configuration/tweaks/misc/config-oem-information.yml
Labels: playbook

fix: delete version specific files
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/misc/delete-windows-specific-files.yml
Labels: playbook

feat: rename idle toggle in context menu
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/CPU Idle/Context Menu/Add Idle toggle in context menu.reg
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/CPU Idle/Context Menu/Remove Idle toggle in context menu (default).reg
Labels: playbook

fix(winre): RunAsAdministrator
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
Labels: playbook

Revert "fix: require activation"
  src/playbook/playbook.conf
Labels: playbook

fix broken old ms store
  src/playbook/Executables/AtlasDesktop/8. Troubleshooting/MS Store Troubleshoot.cmd
Labels: playbook

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

feat: update playbook version
  src/playbook/Configuration/tweaks/misc/config-oem-information.yml
  src/playbook/playbook.conf
Labels: playbook

.github/labeler.yml:

readme:
- '**/README.md'

translations:
- translations/**/*

branding:
- img/**/*

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/features/atlas/appx.yml

components:
- src/Configuration/features/atlas/components.yml
- src/Configuration/features/atlas/packages.yml

config:
- src/Configuration/features/atlas/config.yml

services:
- src/Configuration/features/atlas/services.yml

desktop folder:
- src/Executables/Atlas/**/*
