Repository Atlas-OS/Atlas, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, translations, branding, actions, playbook, appx, components, config, services, desktop folder

.github/labeler.yml:

readme:
- '**/README.md'

translations:
- translations/**/*

branding:
- img/**/*

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/features/atlas/appx.yml

components:
- src/Configuration/features/atlas/components.yml
- src/Configuration/features/atlas/packages.yml

config:
- src/Configuration/features/atlas/config.yml

services:
- src/Configuration/features/atlas/services.yml

desktop folder:
- src/Executables/Atlas/**/*

fix(news & interests): kill explorer first
  src/playbook/Configuration/tweaks/qol/taskbar/disable-news-and-interests.yml
Labels: playbook

fix(open shell): notify user about winget check
  src/playbook/Executables/AtlasDesktop/3. Configuration/Start Menu/Install Open-Shell.cmd
Labels: playbook

i18n: remove translations in readme
  README.md
Labels: readme

i18n: Delete translations directory
  translations/README.md
  translations/README_ar_SA.md
  translations/README_bg_BG.md
  translations/README_bs_BA.md
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_es_ES.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_hr_HR.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ko_KR.md
  translations/README_nl_NL.md
  translations/README_ph_PH.md
  translations/README_pl_PL.md
  translations/README_pt_BR.md
  translations/README_ro_RO.md
  translations/README_ru_RU.md
  translations/README_sv_SE.md
  translations/README_th_TH.md
  translations/README_tr_TR.md
  translations/README_translate.md
  translations/README_ua_UA.md
  translations/README_vi_VN.md
  translations/README_zh_CN.md
Labels: readme, translations

rewrite: readme rewrite and delete unnesscery stuff
  README.md
Labels: readme

docs: add some detailes to security section of README
  README.md
Labels: readme
