Repository Atlas-OS/Atlas, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, playbook, appx, components, config, services, tweaks, desktop folder

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/atlar/appx.yml

components:
- src/Configuration/atlar/components.yml
- src/Configuration/atlar/packages.yml

config:
- src/Configuration/atlar/config.yml

services:
- src/Configuration/atlar/services.yml

tweaks:
- src/Configuration/tweaks.yml
- src/Configuration/tweaks/**/*

desktop folder:
- src/Executables/AtlarDesktop/**/*

fix: branding logo better
  README.md
Labels: readme

Update SECURITY.md
  .github/SECURITY.md
Labels: none

thats better
  src/sxsc-disabled/Atlas-Misc-Arm.yaml
  src/sxsc-disabled/Atlas-Misc.yaml
  src/sxsc/Atlas-Defender-Remover-Arm.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
  src/sxsc/Atlas-NoTelemetry-Arm.yaml
  src/sxsc/Atlas-NoTelemetry.yaml
  src/sxsc/sxsc GitHub page (echnobas).url
Labels: playbook

ywes
  src/playbook/Configuration/atlar/components.yml
  src/playbook/Executables/AtlarDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlarDesktop/8. Troubleshooting/Telemetry Components.cmd
  src/playbook/Executables/AtlarModules/Scripts/HWID_Activation.cmd
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/TelemetryComponents.ps1
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/ToggleDefender.ps1
Labels: playbook

fix: AtlarDesktop URLs
  src/playbook/Executables/AtlarDesktop/Atlar Discord.url
  src/playbook/Executables/AtlarDesktop/Atlar Discussions.url
  src/playbook/Executables/AtlarDesktop/Atlar Documentation.url
  src/playbook/Executables/AtlarDesktop/Atlar GitHub.url
  src/playbook/Executables/AtlarDesktop/Atlar Website.url
  src/playbook/Executables/AtlarDesktop/Atlas Discussions.url
  src/playbook/Executables/AtlarDesktop/Atlas Documentation.url
  src/playbook/Executables/AtlarDesktop/Atlas GitHub.url
  src/playbook/Executables/AtlarDesktop/Atlas Website.url
Labels: playbook

feat: atlar
  README.md
  src/playbook/Configuration/atlar/appx.yml
  src/playbook/Configuration/atlar/components.yml
  src/playbook/Configuration/atlar/services.yml
  src/playbook/Configuration/atlar/start.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
  src/playbook/Configuration/tweaks/scripts/script-core-isolation.yml
  src/playbook/Configuration/tweaks/scripts/script-mitigations.yml
  src/playbook/Configuration/tweaks/scripts/script-pfp.yml
  src/playbook/Configuration/tweaks/scripts/script-power.yml
  src/playbook/Executables/AtlarDesktop/8. Troubleshooting/Telemetry Components.cmd
  src/playbook/Executables/AtlarModules/Other/Force Timer Resolution.xml
  src/playbook/Executables/AtlarModules/Other/atlar-folder.ico
  src/playbook/Executables/AtlarModules/Other/atlas-folder.ico
  src/playbook/Executables/AtlarModules/README.md
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/DebloatSendToContextMenu.ps1
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/DisablePowerSaving.ps1
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/EnableFileSharing.ps1
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/InstallSoftware.ps1
  src/playbook/Executables/AtlarModules/initPowerShell.ps1
  src/playbook/Executables/CLEANUP.ps1
  src/playbook/Executables/CLIENTCBS.ps1
  src/playbook/Executables/DISABLENOTIFS.cmd
  src/playbook/Executables/ENABLENOTIFS.cmd
  src/playbook/Executables/LIBREWOLF.ps1
  src/playbook/Executables/SHORTCUTS.ps1
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/Executables/STARTMENU.ps1
  src/playbook/Executables/TASKBARPINS.ps1
  src/playbook/Executables/Themes/atlar-v0.5.x-dark.theme
  src/playbook/Executables/Themes/atlar-v0.5.x-light.theme
Labels: readme, playbook

hooray
  src/playbook/Executables/AtlarDesktop/6. Advanced Configuration/Process Explorer/Install Process Explorer.cmd
  src/playbook/Executables/AtlarModules/Scripts/Modules/Themes/Themes.psm1
  src/playbook/Executables/AtlarModules/Scripts/ScriptWrappers/DisableFileSharing.ps1
  src/playbook/Executables/AtlarModules/Scripts/edgeCheck.cmd
  src/playbook/Executables/AtlarModules/Scripts/indexConf.cmd
  src/playbook/Executables/AtlarModules/Scripts/newUsers.ps1
Labels: playbook

wall
  src/playbook/Executables/AtlarModules/Wallpapers/atlar-v0.5.x-dark.png
  src/playbook/Executables/AtlarModules/Wallpapers/atlar-v0.5.x-light.png
Labels: playbook

atlaring
  src/playbook/Configuration/tweaks/networking/atlar-network-settings.yml
  src/rg
Labels: playbook

more atlaer
  .atlarPsModulesPath
  src/playbook/Configuration/tweaks/qol/appearance/atlar-theme.yml
  src/playbook/Executables/AtlarDesktop/4. Interface Tweaks/Start Menu/Atlar Open-Shell Preset.xml
  src/playbook/Executables/AtlarDesktop/4. Interface Tweaks/Visual Effects (Animations)/Atlar Visual Effects (default).cmd
  src/playbook/Executables/AtlarDesktop/8. Troubleshooting/Network/Reset Network to Atlar Default.cmd
Labels: playbook

fix: deleted old profile
  src/playbook/Executables/AtlasModules/Toolbox/Profiles/default.txt
Labels: playbook

feat: update hibernation scripts to manage FlyoutMenuSettings
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Hibernation/Disable Hibernation (default).cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Hibernation/Enable Hibernation.cmd
Labels: playbook

feat: changed WinAppRuntime install to 1.7
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

rem: remove brave debullshitinator
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

chore: added upgrade flags
  src/playbook/Configuration/atlas/default.yml
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
Labels: playbook

chore: added nvcleanstall to software installer
  src/playbook/Executables/AtlasModules/Scripts/ScriptWrappers/InstallSoftware.ps1
Labels: playbook

fix: make the scripts actually run
  src/playbook/Executables/DEFAULT.ps1
Labels: playbook

fix: prevent hang on silent mode due to manual input
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Static IP/Automatically Set Static IP (default).cmd
Labels: playbook

Feature #1020: Add script to remove Python Store aliases
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Python Store Prompt.cmd
Labels: playbook

fix: multiline parsing issue
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Python Store Prompt.cmd
Labels: playbook

feat: remove python aliases script
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Python Store Prompt.cmd
Labels: playbook

feat: use default.reg instead of default.ps1
  src/playbook/Configuration/atlas/default.yml
  src/playbook/Executables/DEFAULT.reg
Labels: playbook

feat: added Toolbox install to software.ps1
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/playbook.conf
Labels: playbook

feat: added tweaks
  src/playbook/Configuration/tweaks/misc/enable-winre.yml
  src/playbook/Configuration/tweaks/misc/remove-efi-drive-letter.yml
Labels: playbook

fix: do not change theme and taskbar pins on upgrade
  src/playbook/Configuration/tweaks/qol/appearance/atlas-theme.yml
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
Labels: playbook

fix: topline in playbook.conf
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/playbook/playbook.conf
Labels: playbook

fix: changed software path
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

fix: Windows App SDK Install Path
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

fix: hardcode optimization function calls
  src/playbook/Executables/AtlasModules/Scripts/Modules/Privacy/Privacy.psm1
  src/playbook/Executables/AtlasModules/Scripts/Modules/Qol/Qol.psm1
Labels: playbook

fix: search indexing requires TI
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Search Indexing/Disable Search Indexing.cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Search Indexing/Enable Search Indexing.cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Search Indexing/Minimal Search Indexing (default).cmd
Labels: playbook

Fix the "ERROR: Invalid syntax."
  src/playbook/Executables/AtlasDesktop/4. Interface Tweaks/Edge Swipe/Disallow Edge Swipe.cmd
Labels: playbook

fix: disable edge swipe params
  src/playbook/Executables/AtlasDesktop/4. Interface Tweaks/Edge Swipe/Disallow Edge Swipe.cmd
Labels: playbook

feat: add remove ms store and extra utils urls
  src/playbook/Executables/AtlasDesktop/2. Drivers/GPU Drivers/Display Driver Uninstaller (DDU).url
  src/playbook/Executables/AtlasDesktop/2. Drivers/GPU Drivers/NVCleanInstall.url
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Microsoft Store/Disable Microsoft Store.cmd
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Microsoft Store/Enable Microsoft Store (default).cmd
  src/playbook/Executables/AtlasDesktop/8. Additional Tools/Autoruns.url
  src/playbook/Executables/AtlasDesktop/8. Additional Tools/Everything Search.url
  src/playbook/Executables/AtlasDesktop/8. Additional Tools/HWInfo.url
  src/playbook/Executables/AtlasDesktop/8. Additional Tools/HWMonitor.url
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Fix Errors 2502 and 2503.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Network/Reset Network to Atlas Default.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Network/Reset Network to Windows Default.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Repair Windows Components.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Reset this PC (read first).url
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Safe Mode/Exit Safe Mode.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Safe Mode/Safe Mode with Command Prompt.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Safe Mode/Safe Mode with Networking.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Safe Mode/Safe Mode.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Set services to defaults.cmd
  src/playbook/Executables/AtlasDesktop/9. Troubleshooting/Telemetry Components.cmd
Labels: playbook

fix: remove extra character
  src/playbook/Executables/AtlasDesktop/3. General Configuration/File Sharing/Disable File Sharing (default).cmd
Labels: playbook

fix: run as admin
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Microsoft Store/Disable Microsoft Store.cmd
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Microsoft Store/Enable Microsoft Store (default).cmd
Labels: playbook

feat: added more onUpgrade flags
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/atlas/default.yml
  src/playbook/Configuration/atlas/services.yml
Labels: playbook

refactor: add parameter to toolbox install command
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

feat: upgrade flag
  src/playbook/Configuration/atlas/components.yml
Labels: playbook

feat: SETPATH script to fix wrong paths in registry
  src/playbook/Configuration/custom.yml
  src/playbook/Executables/DEFAULT.reg
  src/playbook/Executables/SETPATHS.ps1
Labels: playbook

feat: upgrade flags
  src/playbook/Configuration/tweaks/scripts/script-pfp.yml
Labels: playbook
