Repository Atlas-OS/Atlas, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, translations, branding, actions, playbook, appx, components, config, services, desktop folder

.github/labeler.yml:

readme:
- '**/README.md'

translations:
- translations/**/*

branding:
- img/**/*

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/features/atlas/appx.yml

components:
- src/Configuration/features/atlas/components.yml
- src/Configuration/features/atlas/packages.yml

config:
- src/Configuration/features/atlas/config.yml

services:
- src/Configuration/features/atlas/services.yml

desktop folder:
- src/Executables/Atlas/**/*

fix: hiding settings pages
  src/playbook/Executables/AtlasDesktop/3. Configuration/Printing/Enable Printing.cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Search Indexing/Disable Search Indexing (default).cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Search Indexing/Enable Search Indexing.cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/VPN/Disable VPN support.cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/VPN/Enable VPN support (default).cmd
Labels: playbook

fix: colon
  src/playbook/Configuration/tweaks/misc/delete-windows-specific-files.yml
Labels: playbook

fix: hibernation
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/Hibernation/Disable Hibernation (default).cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/Hibernation/Enable Hibernation.cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/Sleep/Disable Sleep.cmd
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/NVIDIA Display Container/Context Menu/Disable Container Context Menu.cmd
Labels: playbook

fix: remove onedrive from quick access
  src/playbook/Executables/ONED.cmd
Labels: playbook

fix: random app install
  src/playbook/Configuration/tweaks/qol/windows-update/disable-auto-updates.yml
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

refactor: powershell command
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Configuration/tweaks/misc/create-shortcuts.yml
  src/playbook/Configuration/tweaks/qol/appearance/atlas-theme.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
  src/playbook/Configuration/tweaks/scripts/script-cleanup.yml
  src/playbook/Configuration/tweaks/scripts/script-core-isolation.yml
  src/playbook/Configuration/tweaks/scripts/script-devices.yml
  src/playbook/Configuration/tweaks/scripts/script-ngen.yml
  src/playbook/Configuration/tweaks/scripts/script-pfp.yml
Labels: playbook

Added new win 11 wallpapers!
  img/Redesigned Wallpapers/atlas-dark.png
  img/Redesigned Wallpapers/atlas-light.png
Labels: branding

feat: prepare firefox
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
  src/playbook/Configuration/tweaks/scripts/script-file-associations.yml
  src/playbook/Executables/FILEASSOC.cmd
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/Executables/Shortcuts/Firefox.lnk
  src/playbook/Executables/Shortcuts/Waterfox.lnk
  src/playbook/playbook.conf
Labels: playbook

feat: prepare media players
  src/playbook/playbook.conf
Labels: playbook

feat: prepare text editors
  src/playbook/playbook.conf
Labels: playbook

fix(playbook.conf): syntax issues
  src/playbook/playbook.conf
Labels: playbook

feat: update software icons
  src/playbook/Images/firefox.png
  src/playbook/Images/mpc-hc.png
  src/playbook/Images/mpv.png
  src/playbook/Images/npp.png
  src/playbook/Images/vlc.png
  src/playbook/Images/vscode.png
  src/playbook/Images/vscodium.png
  src/playbook/Images/waterfox.png
  src/playbook/playbook.conf
Labels: playbook

feat: software
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

fix: powershell
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/atlas/start.yml
  src/playbook/Configuration/tweaks/misc/create-shortcuts.yml
  src/playbook/Configuration/tweaks/qol/appearance/atlas-theme.yml
  src/playbook/Configuration/tweaks/qol/explorer/remove-context-menus/new-bitmap.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
  src/playbook/Configuration/tweaks/scripts/script-cleanup.yml
  src/playbook/Configuration/tweaks/scripts/script-devices.yml
  src/playbook/Configuration/tweaks/scripts/script-ngen.yml
  src/playbook/Configuration/tweaks/scripts/script-pfp.yml
  src/playbook/Executables/FILEASSOC.cmd
Labels: playbook

fix: powershell
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Edge.ps1
  src/playbook/Executables/AtlasDesktop/3. Configuration/Network Discovery/File Sharing/Disable File Sharing (default).cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Network Discovery/File Sharing/Enable File Sharing.cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Start Menu/Install Open-Shell.cmd
  src/playbook/Executables/AtlasDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasDesktop/8. Troubleshooting/Telemetry Components.cmd
  src/playbook/Executables/AtlasModules/PackagesEnvironment/centralScript.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
  src/playbook/Executables/AtlasModules/Scripts/RunAsTI.cmd
  src/playbook/Executables/AtlasModules/Scripts/toggleDev.cmd
  src/playbook/local-build.cmd
Labels: playbook

fix: software
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

feat: further work on software
  src/playbook/Configuration/tweaks/scripts/script-file-associations.yml
Labels: playbook

Widgets Scripts
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Disable News and Interests.reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Enable News and Interests.reg
Labels: playbook

Fix: Readme translate got removed in #920
  translations/README_translate.md
Labels: translations

Should work now
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Disable News and Interests.reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Enable News and Interests.reg
Labels: playbook

Fixed CPU Idle - Remove from Context menu
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/CPU Idle/Context Menu/Remove Idle toggle in context menu (default).reg
Labels: playbook

fix: powershell formatting changes breakage
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/tweaks/qol/config-powershell.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
Labels: playbook

fix(powershell): change to Bypass EP for playbook
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Edge.ps1
  src/playbook/Executables/AtlasDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasModules/PackagesEnvironment/centralScript.ps1
  src/playbook/Executables/AtlasModules/PackagesEnvironment/winrePackages.ps1
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook

refactor(services.yml): make more readable
  src/playbook/Configuration/atlas/services.yml
Labels: playbook

fix(service backup): expand windir properly
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
Labels: playbook

refactor(backup.ps1): remove unnecessary quotes
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/tweaks/scripts/script-backup2.yml
Labels: playbook

fix(start): remove duplicate component cleanup
  src/playbook/Configuration/atlas/start.yml
Labels: playbook

fix(SOFTWARE.ps1): don't run twice
  src/playbook/Configuration/atlas/start.yml
Labels: playbook

fix(defaultuser0): ignore errors
  src/playbook/Configuration/tweaks/security/delete-defaultuser0.yml
Labels: playbook

fix(config-start): move clearCache for start menu
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/tweaks/qol/config-start-menu.yml
  src/playbook/Executables/CLEANUP.ps1
Labels: playbook

feat: copilot scripts
  src/playbook/Configuration/tweaks/qol/taskbar/disable-copilot.yml
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows Copilot/Disable Windows Copilot (default).reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows Copilot/Enable Windows Copilot.cmd
Labels: playbook

feat(msiexec): check multiple keys
  src/playbook/Executables/AtlasModules/Scripts/Modules/Uninstall-MsiexecAppByName/Uninstall-MsiexecAppByName.psm1
Labels: playbook

feat(EdgeRemover): version v1.7
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Edge.ps1
Labels: playbook

fix(#975): better detection for brightness
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook

fix: further improve brightness detection
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook

fix(brightness): weird bug with find.exe
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook

fix: remove win 10 start pins
  src/playbook/Executables/Layout.xml
Labels: playbook

fix: delete copilot on 10
  src/playbook/Configuration/tweaks/misc/delete-windows-specific-files.yml
Labels: playbook

fix(onedrive): don't strip if files exist
  src/playbook/Executables/ONED.cmd
Labels: playbook

fix: re-enable brightness service on v0.3.x
  src/playbook/Executables/FINALIZE.cmd
Labels: playbook
