Repository Atlas-OS/Atlas, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, playbook, appx, components, config, services, tweaks, desktop folder

Add workflow dispatch trigger
  .github/workflows/apbx.yaml
Labels: actions

fix: install WinAppSDK with winget because exe is broken
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

feat: update deferral scripts
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Windows Updates/Reset Windows Update Deferral.cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Windows Updates/Set Windows Update Deferral.cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Windows Updates/Toggle Windows Updates.cmd
Labels: playbook

ci: add workflow dispatch trigger
  .github/workflows/apbx.yaml
Labels: actions

Update apbx.yaml
  .github/workflows/apbx.yaml
Labels: actions

fix: add silent mode support for file sharing scripts
  src/playbook/Executables/AtlasDesktop/3. General Configuration/File Sharing/Disable File Sharing (default).cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/File Sharing/Enable File Sharing.cmd
Labels: playbook

fix: process explorer not uninstalling when updating
  src/playbook/Configuration/custom.yml
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Process Explorer/Uninstall Process Explorer.cmd
Labels: playbook

test update certificate
  src/sxsc/Atlas-Defender-Remover.yaml
Labels: playbook

feat: auto-update CAB packages (a7560779)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
Labels: playbook

test signing
  .github/workflows/apbx.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
Labels: actions, playbook

feat: auto-update CAB packages (96b04dec)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
Labels: playbook

add the cert to the package folder for later use
  .github/workflows/apbx.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
Labels: actions, playbook

feat: auto-update CAB packages (0e18f588)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/sxs.cer
Labels: playbook

update packages
  src/sxsc/Atlas-Defender-Remover-Arm.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
  src/sxsc/Atlas-NoTelemetry-Arm.yaml
  src/sxsc/Atlas-NoTelemetry.yaml
Labels: playbook

fix: copy cert once at beginning
  .github/workflows/apbx.yaml
Labels: actions

gotta keep changing this to rebuild
  src/sxsc/Atlas-Defender-Remover-Arm.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
  src/sxsc/Atlas-NoTelemetry-Arm.yaml
  src/sxsc/Atlas-NoTelemetry.yaml
Labels: playbook

feat: auto-update CAB packages (c41a3fe2)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35arm645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35arm645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/sxs.cer
Labels: playbook

fix: properly signed packages for new windows update
  .github/workflows/apbx.yaml
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35arm645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35arm645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/sxs.cer
Labels: actions, playbook

fix: add certificate import for CAB signatures
  src/playbook/Configuration/atlas/components.yml
Labels: playbook

feat: enable and disable Workplace settings
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Workplace/Disable Workplace.cmd
  src/playbook/Executables/AtlasDesktop/3. General Configuration/Workplace/Enable Workplace.cmd
Labels: playbook

Static IP is not default
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Static IP/Automatically Set Static IP.cmd
Labels: playbook

Modify timer resolution value
  src/playbook/Executables/AtlasModules/Other/Force Timer Resolution.xml
Labels: playbook

Remove StaticIP
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Static IP/Automatically Set Static IP.cmd
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Static IP/Revert Static IP.cmd
  src/playbook/Executables/AtlasModules/Toolbox/Scripts/StaticIP/AutomaticallySetStaticIP.cmd
  src/playbook/Executables/AtlasModules/Toolbox/Scripts/StaticIP/RevertStaticIP.cmd
  src/playbook/Executables/DEFAULT.reg
Labels: playbook

Fix Automatic Folder Discovery
  src/playbook/Executables/AtlasDesktop/4. Interface Tweaks/File Explorer Customization/Automatic Folder Discovery/Disable Automatic Folder Discovery (default).cmd
  src/playbook/Executables/AtlasDesktop/4. Interface Tweaks/File Explorer Customization/Automatic Folder Discovery/Enable Automatic Folder Discovery.cmd
Labels: playbook

Use Microsoft recommended value
  src/playbook/Configuration/tweaks/performance/system/optimize-ntfs.yml
Labels: playbook

revert 206b3bf and 69a009d
  .github/workflows/apbx.yaml
  src/playbook/Configuration/atlas/components.yml
Labels: actions, playbook

ci: rebuild cabs
  src/playbook/Executables/AtlasModules/Packages/sxs.cer
  src/sxsc/Atlas-Defender-Remover-Arm.yaml
  src/sxsc/Atlas-Defender-Remover.yaml
  src/sxsc/Atlas-NoTelemetry-Arm.yaml
  src/sxsc/Atlas-NoTelemetry.yaml
Labels: playbook

feat: auto-update CAB packages (85c547fe)
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35arm645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd645.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35arm645.0.0.0.cab
Labels: playbook

feat: iso testing
  src/playbook/playbook.conf
Labels: playbook

feat: install wasdk in registry runonce
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/misc/install-winappsdk-firstboot.yml
Labels: playbook

feat: tweaked toolbox installation
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/misc/install-winappsdk-firstboot.yml
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/playbook.conf
Labels: playbook

fix: cancel newUser script after installing from injected ISO
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/misc/was-just-installed-oobe.yml
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

fix: newUser script
  src/playbook/Configuration/tweaks/misc/was-just-installed-oobe.yml
  src/playbook/Executables/AtlasModules/Scripts/newUsers.cmd
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

refactor: removed toolbox dependencies
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

feat: add back freshinstall
  src/playbook/playbook.conf
Labels: playbook

feat: Iso compatability (TESTING)
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/misc/was-just-installed-oobe.yml
  src/playbook/Executables/AtlasModules/Scripts/newUsers.cmd
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/playbook.conf
Labels: playbook

feat: fix stuff in the iso injection
  src/playbook/Configuration/tweaks.yml
  src/playbook/Executables/AtlasModules/Scripts/newUsers.cmd
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
Labels: playbook

refactor: tweaked newUsers.ps1
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
Labels: playbook

feat: fix for taskbar pin with iso injec
  src/playbook/Executables/AtlasModules/Scripts/newUsers.cmd
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/AtlasModules/Scripts/taskbarPins.ps1
Labels: playbook

fix: taskbar pins reg keys
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
Labels: playbook

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/atlar/appx.yml

components:
- src/Configuration/atlar/components.yml
- src/Configuration/atlar/packages.yml

config:
- src/Configuration/atlar/config.yml

services:
- src/Configuration/atlar/services.yml

tweaks:
- src/Configuration/tweaks.yml
- src/Configuration/tweaks/**/*

desktop folder:
- src/Executables/AtlarDesktop/**/*
