Repository Atlas-OS/Atlas, pull requests merged in 2023-05, with the labels that each got.

#758 Update Russian translation
  translations/README_ru_RU.md
Labels: translations

#763 Disable ``Check for Windows updates on shutdown`` in Atlas Open-Shell preset
  src/Executables/Atlas/3. Configuration/1. General Configuration/Start Menu/Atlas Openshell Preset.xml
Labels: playbook, desktop folder

#771 Update README_ua_UA.md
  translations/README_ua_UA.md
Labels: translations

#772 Added Croatian Translations
  README.md
  translations/README_hr_HR.md
Labels: readme, translations

#777 Update Enable Hibernation.cmd
  src/Executables/Atlas/3. Configuration/1. General Configuration/Power/Hibernation/Enable Hibernation.cmd
Labels: playbook, desktop folder

#780 docs: Update README_translate.md to latest README.md
  translations/README_translate.md
Labels: translations

#791 Added Czech translation
  README.md
  translations/README_cs_CZ.md
Labels: readme, translations

#792 Update README_de_DE.md
  translations/README_de_DE.md
Labels: translations

#783 feat: 🧑‍💻 remove/reformat install software.ps1 packages
  src/Executables/Atlas/1. Software/Install Software.ps1
  src/Executables/Atlas/1. Software/Install your own software.url
Labels: playbook, desktop folder

#794 main -> dev
  README.md
  src/Configuration/features/atlas/config.yml
  src/Configuration/features/atlas/services.yml
  src/Executables/Atlas/3. Configuration/1. General Configuration/Oculus VR/Disable Oculus Services (default).cmd
  src/Executables/Atlas/3. Configuration/1. General Configuration/Oculus VR/Enable Oculus Services.cmd
  src/playbook.conf
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_translate.md
Labels: readme, playbook, translations, desktop folder, services, config

#796 Update README_hr_HR.md
  translations/README_hr_HR.md
Labels: translations

#795 multiple changes to README and it's translation
  README.md
  translations/README.md
  translations/README_ar_SA.md
  translations/README_bg_BG.md
  translations/README_bs_BA.md
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_es_ES.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_hr_HR.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ph_PH.md
  translations/README_pl_PL.md
  translations/README_pt_BR.md
  translations/README_ru_RU.md
  translations/README_sv_SE.md
  translations/README_tr_TR.md
  translations/README_translate.md
  translations/README_ua_UA.md
  translations/README_vi_VN.md
  translations/README_zh_CN.md
Labels: readme, translations

#793 Updated the Turkish Translation with the main README.md
  translations/README_tr_TR.md
Labels: translations

#799 Update README_bg_BG.md
  translations/README_bg_BG.md
Labels: translations

#802 Updated Vietnamese translation
  translations/README_vi_VN.md
Labels: translations

#810 Fix APBX workflow
  .github/workflows/apbx.yaml
  src/Configuration/features/atlas/start.yml
Labels: playbook, actions, bypass
