Repository Atlas-OS/Atlas, pull requests merged in 2023-08, with the labels that each got.

#874 Updated Vietnamese translation
  translations/README_vi_VN.md
Labels: translations

#880 Update README_de_DE.md
  translations/README_de_DE.md
Labels: translations

#879 Add of Romanian translation
  README.md
  translations/README_rou_ROU.md
Labels: readme, translations

#883 Defender toggle
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/atlas/kill-kph.yml
  src/playbook/Configuration/atlas/packages.yml
  src/playbook/Configuration/atlas/services.yml
  src/playbook/Configuration/custom.yml
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/debloat/hide-unused-security-pages.yml
  src/playbook/Configuration/tweaks/qol/security/disable-online-file-security-warn.yml
  src/playbook/Configuration/tweaks/qol/security/disable-smartscreen.yml
  src/playbook/Configuration/tweaks/qol/security/disable-uac-secure-desktop.yml
  src/playbook/Executables/Atlas/3. Configuration/5. Security/Defender/Hide App and Browser Control/Hide App and Browser Control.reg
  src/playbook/Executables/Atlas/3. Configuration/5. Security/Defender/Hide App and Browser Control/Show App and Browser Control.reg
  src/playbook/Executables/Atlas/3. Configuration/5. Security/Defender/Security Health Tray/Add Security Tray to Startup.reg
  src/playbook/Executables/Atlas/3. Configuration/5. Security/Defender/Security Health Tray/Remove Security Tray from Startup (default).reg
  src/playbook/Executables/Atlas/3. Configuration/5. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasModules/Acknowledgements/online-sxs GitHub.url
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoDefender-Package31bf3856ad364e35amd643.0.0.0.cab
  src/playbook/Executables/AtlasModules/Packages/Z-Atlas-NoTelemetry-Package31bf3856ad364e35amd643.0.0.0.cab
  src/playbook/Executables/AtlasModules/Scripts/online-sxs.cmd
  src/playbook/Executables/KILLKPH.ps1
  src/playbook/playbook.conf
  src/sxsc/Atlas-Defender-Remover.yaml
  src/sxsc/Atlas-NoTelemetry.yaml
  src/sxsc/sxsc GitHub page (echnobas).url
Labels: playbook

#876 Update Install Software.ps1
  src/playbook/Executables/Atlas/1. Software/Install Software.ps1
Labels: playbook

#893 Bad file name for romanian translation.
  README.md
  translations/README_ro_RO.md
Labels: readme, translations

#894 Navigation Pane Fix
  src/playbook/Configuration/tweaks/qol/explorer/disable-network-navigation-pane.yml
Labels: playbook
