Repository Atlas-OS/Atlas, pull requests merged in 2023-06, with the labels that each got.

#816 Korean translation of the README.md file
  translations/README_ko_KR.md
Labels: translations

#817 Added Thai translation
  README.md
  translations/README_th_TH.md
Labels: readme, translations

#812 feat: updated hindi transation to match the updated README.md
  translations/README_hi_HI.md
Labels: translations

#820 Updated Arabic README
  translations/README_ar_SA.md
Labels: translations

#821 Readme update
  README.md
  translations/README_ar_SA.md
  translations/README_bg_BG.md
  translations/README_bs_BA.md
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_es_ES.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_hr_HR.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ko_KR.md
  translations/README_ph_PH.md
  translations/README_pl_PL.md
  translations/README_pt_BR.md
  translations/README_ru_RU.md
  translations/README_sv_SE.md
  translations/README_th_TH.md
  translations/README_tr_TR.md
  translations/README_translate.md
  translations/README_vi_VN.md
Labels: readme, translations

#824 Merge main to Dev
  README.md
  translations/README_ar_SA.md
  translations/README_bg_BG.md
  translations/README_bs_BA.md
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_es_ES.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_hr_HR.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ko_KR.md
  translations/README_ph_PH.md
  translations/README_pl_PL.md
  translations/README_pt_BR.md
  translations/README_ru_RU.md
  translations/README_sv_SE.md
  translations/README_th_TH.md
  translations/README_tr_TR.md
  translations/README_translate.md
  translations/README_vi_VN.md
Labels: readme, translations

#826 Fix: Incorrect format in Thai translations
  translations/README_th_TH.md
Labels: translations

#827 docs(ru): update translation
  translations/README_ru_RU.md
Labels: translations

#823 Fixed Minor Issues in the Arabic README 📖
  translations/README_ar_SA.md
Labels: translations

#832 General translation formatting fixes
  translations/README_bg_BG.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ko_KR.md
  translations/README_ph_PH.md
  translations/README_sv_SE.md
  translations/README_th_TH.md
  translations/README_vi_VN.md
Labels: translations

#839 fix broken links in README.md
  README.md
  src/Configuration/features/atlas/services.yml
  src/Executables/DISABLEPNP.ps1
  src/Executables/NGEN.ps1
Labels: readme
