Repository Atlas-OS/Atlas, pull requests merged in 2023-11, with the labels that each got.

#934 Fix: RunAsTI.cmd
  src/playbook/Executables/AtlasModules/Scripts/RunAsTI.cmd
Labels: playbook

#939 Update README_bg_BG.md
  translations/README_bg_BG.md
Labels: translations

#937 Fix README.md URL misspelled and Update Thai translation
  README.md
  translations/README_th_TH.md
Labels: readme, translations

#941 Correct language name of Ukrainian
  README.md
Labels: readme

#942 Fix banner not load properly in Thai translation of README.md
  translations/README_th_TH.md
Labels: translations

#943 Update README_de_DE.md
  translations/README_de_DE.md
Labels: translations

#949 Update SOFTWARE.ps1 to use NewGuid
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

#953 Fix: playbook.conf "Learn more"
  src/playbook/playbook.conf
Labels: playbook

#971 Fixed CPU Idle - Remove from Context menu
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/CPU Idle/Context Menu/Remove Idle toggle in context menu (default).reg
Labels: playbook

#969 Fix: Readme translate got removed in #920
  translations/README_translate.md
Labels: translations

#967 W11 enable/disable Widgets scripts
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Disable News and Interests.reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/Windows 11 Taskbar/Enable News and Interests.reg
Labels: playbook
