Repository Atlas-OS/Atlas, pull requests merged in 2023-10, with the labels that each got.

#920 Update and rename README_translate.md to README_nl_NL.md
  translations/README_nl_NL.md
  translations/README_translate.md
Labels: translations

#922 Update Remove Edge.ps1
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Edge.ps1
  src/playbook/Executables/AtlasModules/Scripts/Modules/Uninstall-MsiexecAppByName/Uninstall-MsiexecAppByName.psm1
  src/playbook/Executables/CLEANUP.ps1
  src/playbook/Executables/LIBREWOLF.ps1
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

#915 Update script-core-isolation.yml
  src/playbook/Configuration/tweaks/scripts/script-core-isolation.yml
Labels: playbook

#925 New AME Wizard features (and more)
  src/playbook/Configuration/atlas/appx.yml
  src/playbook/Configuration/atlas/components.yml
  src/playbook/Configuration/tweaks.yml
  src/playbook/Configuration/tweaks/privacy/search-settings.yml
  src/playbook/Configuration/tweaks/qol/explorer/add-music-vids-to-home.yml
  src/playbook/Configuration/tweaks/qol/set-hidden-settings-pages.yml
  src/playbook/Configuration/tweaks/qol/shell/no-recommendations-start-menu.yml
  src/playbook/Configuration/tweaks/qol/taskbar/end-task.yml
  src/playbook/Executables/AtlasDesktop/1. Software/Remove Edge.ps1
  src/playbook/Executables/AtlasDesktop/3. Configuration/Visual Effects/Atlas Visual Effects (default).cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Visual Effects/Default Windows Visual Effects.cmd
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/File Explorer Customization/Gallery/Disable Gallery (default).reg
  src/playbook/Executables/AtlasDesktop/4. Optional Tweaks/File Explorer Customization/Gallery/Enable Gallery.reg
  src/playbook/Executables/AtlasDesktop/7. Security/Defender/Toggle Defender.cmd
  src/playbook/Executables/AtlasDesktop/7. Security/Firewall/Disable Windows Firewall.cmd
  src/playbook/Executables/AtlasDesktop/7. Security/Firewall/Enable Windows Firewall (Default).cmd
  src/playbook/Executables/AtlasModules/README.md
  src/playbook/Executables/AtlasModules/Scripts/newUsers.ps1
  src/playbook/Executables/FINALIZE.cmd
Labels: readme, playbook

#926 fix build
  src/playbook/Configuration/atlas/components.yml
Labels: playbook

#927 Update Disable Standby States (default).cmd
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/Standby States/Disable Standby States (default).cmd
Labels: playbook

#928 Correct the Ukrainian language name
  README.md
Labels: readme

#930 Fix: URL Shortcuts
  src/playbook/Executables/AtlasDesktop/1. Software/How To Install Software.url
  src/playbook/Executables/AtlasDesktop/2. Drivers/Driver Instructions.url
  src/playbook/Executables/AtlasDesktop/3. Configuration/Power/Timer Resolution/! Documentation.url
  src/playbook/Executables/AtlasDesktop/6. Advanced Configuration/Must Read First.url
Labels: playbook
