Repository Atlas-OS/Atlas, pull requests merged in 2023-12, with the labels that each got.

#988 SOFTWARE.ps1: Fix VLC Download
  src/playbook/Executables/SOFTWARE.ps1
Labels: playbook

#981 Readme Improvements
  .github/labeler.yml
  README.md
  translations/README.md
  translations/README_ar_SA.md
  translations/README_bg_BG.md
  translations/README_bs_BA.md
  translations/README_cs_CZ.md
  translations/README_de_DE.md
  translations/README_es_ES.md
  translations/README_fr_FR.md
  translations/README_hi_HI.md
  translations/README_hr_HR.md
  translations/README_id_ID.md
  translations/README_it_IT.md
  translations/README_ko_KR.md
  translations/README_nl_NL.md
  translations/README_ph_PH.md
  translations/README_pl_PL.md
  translations/README_pt_BR.md
  translations/README_ro_RO.md
  translations/README_ru_RU.md
  translations/README_sv_SE.md
  translations/README_th_TH.md
  translations/README_tr_TR.md
  translations/README_ua_UA.md
  translations/README_vi_VN.md
  translations/README_zh_CN.md
Labels: readme, translations, actions

#997 migrate CONTRIBUTING.md to .github/CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: bypass

#1003 Fix typo in README.
  README.md
Labels: readme
